<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/asset_management/asset_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-12">
                        <div class="card">

                            <div class="card-body">

                                <!-- <h4 class="header-title mb-3"> </h4> -->
                                <div class="form-group row mb-3">
                                    <label class="col-md-2 col-form-label" for="name">Name</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control " id="name" name="name" value=""
                                            required>
                                    </div>
                                </div>

                                <div id="">

                                    <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                        <li class="nav-item">
                                            <a href="#ftp_tab" data-toggle="tab"
                                                class="nav-link rounded-0 pt-2 pb-2 active">
                                                <i class="mdi mdi-account-circle mr-1"></i>
                                                <span class="d-none d-sm-inline">FTP</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#s3_tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                <i class="mdi mdi-face-profile mr-1"></i>
                                                <span class="d-none d-sm-inline">S3 Config</span>
                                            </a>
                                        </li>

                                    </ul>
                                 <div id="configuration">
                                    <div class="tab-content mb-0 border-0">

                                        <div class="tab-pane fade active show" id="ftp_tab">
                                            <div class="row">
                                                <div class="col-12">

                                                    <form action='' id='ftp' data-parsley-validate novalidate>
                                                        <div class="form-group row mb-3">
                                                            <label class="col-md-2 col-form-label"
                                                                for="userName2">Remote
                                                                Server</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control remoteServer"
                                                                    id="remoteServer" name="remoteServer" value=""
                                                                    required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-3">
                                                            <label class="col-md-2 col-form-label" for="userName2">User
                                                                Name</label>
                                                            <div class="col-md-10">
                                                                <input type="text" id="userName2" name="userName2"
                                                                    class="form-control username" value=" " required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-3">
                                                            <label class="col-md-2 col-form-label"
                                                                for="password2">Password</label>
                                                            <div class="col-md-10">

                                                                <input type="password" id="password2" name="password2"
                                                                    class="form-control password" value="" required>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-2 offset-2">
                                                                <button type="submit"
                                                                    class="btn btn-sm btn-purple waves-effect width-md waves-light mt-3 save">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                        </div>

                                        <div class="tab-pane fade" id="s3_tab">

                                            <div class="row">
                                                <div class="col-12">

                                                    <form action='' id='config' data-parsley-validate novalidate>
                                                        <div class="form-group row mb-3">
                                                            <label class="col-md-2 col-form-label" for="name2"> First
                                                                Name</label>
                                                            <div class="col-md-10">
                                                                <input type="text" id="name2" name="name2"
                                                                    class="form-control firstname" value="" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-3">
                                                            <label class="col-md-2 col-form-label" for="surname2"> Last
                                                                Name</label>
                                                            <div class="col-md-10">
                                                                <input type="text" id="surname2" name="surname2"
                                                                    class="form-control lastname" value=" " required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-3">
                                                            <label class="col-md-2 col-form-label"
                                                                for="email2">Email</label>
                                                            <div class="col-md-10">
                                                                <input type="email" id="email2" name="email2"
                                                                    class="form-control email" value=" " required>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-2 offset-2">
                                                                <button type="submit"
                                                                    class="btn btn-sm btn-purple waves-effect width-md waves-light mt-3 save">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div> <!-- end col -->

                                            </div> <!-- end row -->


                                        </div>

                                    </div> <!-- tab-content -->
                                </div>

                                </div> <!-- end #btnwizard-->

                            </div> <!-- end card-body -->

                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


</div>

<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/setting/configuration.js"></script>


</body>

</html>