<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">
<style>
    .custome-button {
        background-color: black !important;
        color: white !important;
        border: 1px solid #89f7fe !important;
    }

    .custome-button:hover {
        background-color: #89f7fe !important;
        color: #0e0e0e !important;
    }
</style>
<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">

                        <div class="row">
                            <div class="col-md-4 pt-2 ml-2 mb-2">
                                <select id="view_source" class="form-control-sm form-control">
                                    <option>Select User Name </option>
                                </select>
                            </div>
                            <div class="col-md-3 pt-2">
                                <button type="button"
                                    class="btn custome-button waves-effect width-md  btn-sm activity_log"
                                    data-toggle="modal" data-target="#exampleModalScrollable"><i
                                        class="mdi mdi-plus  mr-1"></i><span>Activity log</span></button>
                            </div>
                        </div>

                        <div class="table-responsive pt-2">
                            <table class="table tablesorter" id="user_listing_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User Name</th>
                                        <th>Date</th>
                                        <th>Channel Name</th>
                                        <th>Activity</th>
                                        <th>Ip Address</th>

                                    </tr>
                                </thead>
                                <tbody id="Userlisting_tbody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer.html %>

        </div>
    </div>
</div>

<!-- END wrapper -->
</div>
<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>



<!-- custom js -->
<script src="../../custom/js/activity_log/activity_log.js"></script>

<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>

</body>

</html>